name: 'Terraform'

on:
  push:
    branches:
      - 'main'
    paths:
      - 'infra/**'
  workflow_dispatch:
    


jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v3


    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      working-directory: 'infra/'
      run: terraform init

    # Applies terraform code
    - name: Terraform Apply
      working-directory: 'infra/'
      run: terraform apply -auto-approve -input=false